---
---

@import "{{ site.theme }}";

#banner .fork {
    position: relative;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #3e70b1;
    margin-left: 0px;
    left: 0px;
    margin: 4px;
}

header {
    padding: 25px 0px 40px 0px;
}

#banner {
    background: #70a3e2;
    border: 1px solid #70a3e2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

strong {
    color: #000000;
}

#banner .button {
    border: 1px solid #70a3e2;
}

.left-content {
    width: 360px;
    margin-left: -700px;
    font-family: "Nunito", sans-serif;
}

.tag-h1 {
    font-size: 1em;
    padding: 2px 0px;
}

body {
    font: 14px / 22px 'Nunito', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul li.tag-h1 a {
    font-size: 0.9em;
    font-weight: normal;
}

nav {
    top: auto;
}

@media print, screen and (max-width: 1060px) {
    section {
        padding: 0px 0;
    }
}