---
---

@import "{{ site.theme }}";

#banner {
    background: #70a3e2;
    border: 1px solid #70a3e2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
}

strong {
    color: #000000;
}

#banner .button {
    border: 1px solid #70a3e2;
}

.left-content{
    width: 360px;
    margin-left: -700px;
}

.tag-h1{
    font-size: 1em;
    padding: 2px 0px;
}

