@import "{{ site.theme }}";

#banner {
    background: #70a3e2;
    border: 1px solid #70a3e2;
    width: 100%;
    display: flex; /* Используем Flexbox для центрирования */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center; /* Центрируем кнопки по вертикали, если нужно */
    flex-wrap: wrap; /* Позволяем кнопкам переноситься на новую строку */
}

strong {
    color: #000000;
}

#banner .button {
    border: 1px solid #70a3e2;
    margin: 10px; /* Устанавливаем отступ между кнопками */
}

.left-content {
    width: 360px;
    margin-left: -700px;
}

.tag-h1 {
    font-size: 1em;
    padding: 2px 0px;
}
